p:hover {
  color:green;
  font-weight:bold;
}

  
p::before {
  content: 'Hello!';
  color:blue;
  font-weight:600;

}

p::after {
  content: 'Bye!';
  color:blue;
  font-weight:600;
}

p::selection {
  color:green;

}


.test {
  visibility: visible;
}

.testing {
  opacity: 1;
}

.test1 {
 display: inline-block;
}
